.header {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0px;
  font-size: 14px;
  height: 19px;
  margin-top: 30px;
  width: 126px;
}

.header-image {
  position: absolute;
  left: calc(100vw - 50%);
  margin-left: -26px;
  /* border: 1px solid cyan; */
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  /* border: 1px solid blue; */
}

.content {
  text-align: center;
  margin-top: 46.12px;
  /* border: 1px solid green; */
}

.content-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-align: center;

  color: #080808;

  /* border: 1px solid yellow; */
}

.content-text-1 {
  margin-top: 14px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #848484;
  /* border: 1px solid yellow; */
}

.content-text {
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #080808;
  /* border: 1px solid yellow; */
}

.start-button {
  display: flex;
  justify-content: center;
  margin-top: 22px;
  margin-right: auto;
  margin-left: auto;
  width: 128px;
  height: 52px;
  color: white;
  background: #9e3a8a;
  border-radius: 3px;
  text-align: center;
  align-items: center;
}

.start-text {
  margin-top: 14px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #9e3a8a;
}

.swipe {
  display: flex;
  margin-top: 41px;
  margin-bottom: 22px;
  /* border: 1px solid green; */
  align-items: center;
}

.swipe-note {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #848484;
}

.quiz {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.mask-group {
  display: flex;
  position: relative;
  justify-content: center;
  /* border: 1px solid blue; */
  /* margin: 25px 0px; */
}

.question-count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  bottom: -25px;
  width: 50px;
  height: 50px;
  align-items: center;
  color: #848484;
  background-color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
}

.question-count-total {
  font-size: 14px;
}

.question {
  margin-top: 47px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #080808;
}

.answers {
  display: flex;
  margin-top: 30px;
  margin-bottom: 29px;
  justify-content: space-around;
  /* border: 1px solid rgb(146, 136, 146); */
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9e3a8a;
  border-radius: 3px;
  width: 128px;
  height: 52px;
  border: 2px solid #9e3a8a;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  margin-top: 64px;
  border-bottom: 1px solid #e1e1e1;
}

.result-wording {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #080808;
}
.result-answer {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #080808;
  text-transform: capitalize;
}
.thought {
  margin-top: 22px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #080808;
}

.result-option-1 {
  display: flex;
  align-items: center;
  height: 80px;
  background: #fbfbfb;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 3px;
}

.result-option-1-img1 {
  margin: 8px;
}

.result-option-1-text {
  margin-left: 8px;
}

.result-option-1-img2 {
  margin-left: 16px;
}
.results-reasons {
  border: 2px solid #9e3a8a;
  border-radius: 3px;
  margin-top: 16px;
}
.results-reasons-text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #9e3a8a;
}

.help-text {
  margin-top: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #080808;
}

.call-the-hotline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.call-background {
  display: flex;
  flex-shrink: 0;
  padding-bottom: 3px;
  /* border: 1px solid blue; */
  width: 64px !important;
  height: 64px;
  align-items: center;
  justify-content: center;
  background: radial-gradient(50% 50% at 50% 50%, #b12d36 0%, #7c181f 100%);
  border-radius: 3px;
}

.call-text {
  display: flex;
  margin-left: 14px;
  flex-direction: column;
  /* border: 1px solid green; */
  height: 64px;
}

.call-text-headline {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 4px 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.call-text-paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #848484;
}

.community-resources {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.cr-background {
  display: flex;
  flex-shrink: 0;
  padding-bottom: 3px;
  /* border: 1px solid blue; */
  width: 64px !important;
  height: 64px;
  align-items: center;
  justify-content: center;
  background: radial-gradient(50% 50% at 50% 50%, #e98139 0%, #c96430 100%);
  border-radius: 3px;
}

.cr-text {
  display: flex;
  margin-left: 14px;
  flex-direction: column;
  /* border: 1px solid green; */
  height: 64px;
}

.cr-text-headline {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 4px 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.cr-text-paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #848484;
}

.de-escalate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.de-escalate-background {
  display: flex;
  flex-shrink: 0;
  padding-bottom: 3px;
  /* border: 1px solid blue; */
  width: 64px !important;
  height: 64px;
  align-items: center;
  justify-content: center;
  background: radial-gradient(50% 50% at 50% 50%, #3bafba 0%, #138291 100%);
  border-radius: 3px;
}

.de-escalate-text {
  display: flex;
  margin-left: 14px;
  flex-direction: column;
  /* border: 1px solid green; */
  height: 64px;
}

.de-escalate-text-headline {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 4px 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.de-escalate-text-paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #848484;
}
